<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strona główna</title>
  <link rel="stylesheet" href="\css\users.css">
  <script src="\js\pagination.js"></script>

</head>

<body>
  <header>
    <div class="logo">
      <a href="/index" class="logo">
        <img src="/images/logo.png" alt="Logo firmy">
      </a>
    </div>
    <div class="menu-bar">
      <div class="menu-item-stan">
        <a href="{{ path('app_stan') }}"> <button class="stan-magazynowy-btn">STAN MAGAZYNOWY</button> </a>
      </div>
      <div class="menu-item-sprzet">
        <a href="{{ path('app_sprzet') }}">  <button class="sprzet-btn">SPRZĘT</button> </a>
      </div>
      <div class="menu-item-uzytkownicy">
        <button class="uzytkownicy-btn">UŻYTKOWNICY</button>
      </div>
    </div>
    <button class="logout" id="logouserBtn"><img src="/images/logouser.png" alt="Ikona użytkownika"></button>
  </header>

  <div class="action-buttons">
    <div class="right-buttons">
      <a href="{{ path('app_addUser') }}">  <button class="action-btn">Dodaj</button> </a>
      
      <form action="" method="POST" class="delete_users">
        <button type="submit" class="action-btn">Usuń</button>
      </div>
    </div>

    <div class="main-content">
      <div class="filters-and-table">
        <div class="filters">
          <div class="filters-header">FILTRY</div>
          <div class="filter-category">

            <h2 class="filter-header">Użytkownik</h2>
            <select class="filter-select">
              <option value="">Wybierz użytkownika</option>
              {% for user in users %}
                <option value="{{ user.id }}">{{ user.imieNazwisko }}</option>
              {% endfor %}
            </select>

            <h2 class="filter-header">Lokalizacja</h2>
            <select class="filter-lok">
              <option value="">Wybierz lokalizację</option>
              {% for user in users %}
                <option value="{{ user.lokalizacja }}">{{ user.lokalizacja }}</option>
              {% endfor %}
            </select>
          </div>
          <button class="apply-btn">Zastosuj</button>

        </div>

        <table class="data-table">
          <thead>
            <tr>
              <th>ZAZNACZ</th>
              <th>IMIE NAZWISKO</th>
              <th>LOKALIZACJA</th>
              <th>STANOWISKO</th>
              <th>TELEFON</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td class="center-checkbox">
                  <input type="checkbox" name="selectedUsers[]" value="{{ user.id }}">
                </td>
                <td onclick="window.location.href='{{ path('app_editUser', {'user_id': user.id}) }}'" style="cursor: pointer;" > {{ user.imieNazwisko }} </td>
                <td onclick="window.location.href='{{ path('app_editUser', {'user_id': user.id}) }}'" style="cursor: pointer;" > {{ user.lokalizacja }} </td>
                <td onclick="window.location.href='{{ path('app_editUser', {'user_id': user.id}) }}'" style="cursor: pointer;" > {{ user.stanowisko }} </td>
                <td onclick="window.location.href='{{ path('app_editUser', {'user_id': user.id}) }}'" style="cursor: pointer;" > {{ user.tel }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination">
          <button id="prevPageBtn">&lt;</button>
          <span id="currentPage">1</span> / <span id="totalPages">1</span>
          <button id="nextPageBtn">&gt;</button>
        </div>
      </div>
    </div>
  </form>


  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <button>Puste</button>
      <button id="logoutBtn">Wyloguj się</button>
    </div>
  </div>

  <script src="\js\script.js"></script>
</body>

</html>